<iframe src="https://www.youtube.com/embed/PWxuXsjWE-I?autoplay=1&mute=1&start=135&controls=0&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<a id='searchtext' href='/scrape'>
    <div id='welcome-message'>
        <p>Formula 1 News Hub</p>
        <h4>Click here to search the latest articles</h4>
    </div>
</a>